*{
    margin: 0;
    padding: 0;
}
#lista-filmes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2%;
    justify-content: start;
    padding: 2rem;
}
#mostrar-filme{
    display: none;
    width: 540px;
    height: auto;
    background-color: white;
    z-index: 10;
    position: fixed;
    left: 300px;
    top: 10px;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
#mostrar-filme a{
    float: right;
    margin: 5px;
    text-decoration: none;
}
.card{
    border: none;
}